[2012-11-13 07:38] sckott opened #1 "Use cases please?"
Hi @mfenner ,

Since you are familiar with the Orcid API and data, I wonder if you could help with use cases that could become functions in rorcid.  That is, just as you have done with the PLoS ALM API though rplos, what kind of things would you want to do with the Orcid API in R?

Thanks! Scott

[2012-11-15 21:16] sckott opened #2 "Add functions for each of the following use cases"
From Martin (issue #1)

Two use cases I used in ScienceCard are the following:
+ given a name, retrieve a list of the best matching names and their ORCID IDs
+ given an ORCID ID, retrieve all publications associated with that ID

A third interesting one is:
+ given a DOI, retrieve a list of ORCIDs that claimed this work

[2012-11-19 01:00] #1 closed, assigned to mfenner

[2012-11-19 03:20] sckott opened #3 "Parsing Orcid publications (aka 'works')"
Hey @cboettig, hoping you can help figure out how to parse these citations from Orcid?  This is an example call using Peter Binfields Orcid ID. You have any functions from `knitcitations` that we can use to parse this?  And probably use those bibtext like citations too?

[code]

[2013-02-12 18:05] sckott opened #4 "Add argument for doing exact or fuzzy matching on DOIs in the orcid function"
Okay, I think it would be better to have an argument in the function for doing exact or fuzzy matches.  If they choose exact matching, users pass in "10.1087/20120404", then we can take care of the encoding in the function. If they choose fuzzy matching, we can leave out the url encoding.

[2013-02-12 18:10] sckott opened #5 "Make an "orcid" class and by default only return a subset of fields"
Fields to return-  Perhaps we can make an "orcid" class, the default has all fields, but we will just return from the function call only a subset of the fields: how about just returning: relevancy-score, orcid, given-names, and family-name

[2013-02-12 18:14] sckott opened #6 "Add function to get total registered researchers in ORCID"
@mfenner suggested:

BTW, a hack to figure out that ORCID has currently registered about 66244 researchers:

orcid("orcid:*", start=66200, rows=50)

You have to increase the start until the query returns 0 results. Maybe you can add an error handler, as an empty result currently throws an error.

[2013-02-22 17:35] sckott opened #7 "Only some DOIs work correctly calling the Orcid API"
Hi @mfenner , Only some DOIs work correctly using quotes (or %22).

For example:

This works:
[code]

But this doesn't work:
[code]

I am guessing it is the fact that the second DOI has periods in it, while the first one doesn't. The failure happens [at this line](https://github.com/ropensci/rorcid/blob/master/R/orcid_doi.r#L42) in the `orcid_doi` function, where the return form the API is like:

[2014-02-17 20:22] emhart opened #8 "example calls broken"
All searches with `orcid()` return the same problem:
[code]

[2015-02-06 10:36] moreedri commented on #8
the API has changed ; SOLR fields have changed, most of those mentioned in the examples are now gone

http://support.orcid.org/knowledgebase/articles/132354-searching-with-the-public-api

[2015-02-06 15:05] sckott commented on #8
@moreedri thanks very much. Will update the package...

[2015-02-06 15:44] moreedri commented on #8
I probably should be helping out, but it looks like a major rewrite of the
API and thus of your package?

--
Dries Moreels

Ghent University Library
mobile: +32 488 983398

-----Oorspronkelijk bericht-----
Van: Scott Chamberlain <notifications@github.com>
Beantwoorden - Aan: ropensci/rorcid
<reply+00008f831492bfc8d185c1f6a9546d4d3f428f86f15b071a92cf0000000110ec9a39
92a169ce01a761f8@reply.github.co

[2015-02-06 15:56] sckott commented on #8
Working on it now... I should have something new soon

[2015-02-06 19:08] sckott commented on #8
@moreedri okay, working version up on the master branch now

see the readme https://github.com/ropensci/rorcid#installation

[2015-02-06 19:08] sckott commented on #8
closing this, open any issues as needed

[2015-02-06 19:08] #8 closed

[2015-02-06 19:09] sckott commented on #7
fixed now, not sure why, using json now, mabye that, anyway, closing :scream:

[2015-02-06 19:09] #7 closed

[2015-02-06 19:12] sckott commented on #3
using json now, this seems fine now

[2015-02-06 19:12] #3 closed

[2015-02-06 20:03] sckott commented on #6
not that important

[2015-02-06 20:03] #6 closed

[2015-02-09 01:59] SimonGoring opened #9 "`colnames` are not the same as the variable names - `data.frame`s in `data.frame`s"
I assume this is because of a mismatch in the data types (what I'm assuming they are vs. what they actually are, but this:

[code]

works okay, although it was a lot of digging to get to the papers.  A helper function might be of use here.  The problem comes when I want to pull out my paper titles.

[code]

works, but a bunch of these are actually `data.frame`s, so I can't really pull out the work

[2015-02-09 02:24] SimonGoring opened #10 "What is `orcid_doi` actually doing?"
It is not clear to me what orcid_doi actually does, or how the search results are meaningful.  The DOI: [10.1890/130001](http://dx.doi.org/10.1890/130001) goes to a paper in *Frontiers in Ecology and Evolution* that was obviously written by a very talented person, but when I search for the DOI I get a list that only vaguely resembles the author list, and includes only one of the authors of the pap

[2015-02-09 02:32] SimonGoring commented on #10
To follow up, if I actually search for the DOI on ORCiD's home page in the search bar I get myself as the first hit, and none of the other hits here even show up, so this API is hitting something that the front page's search bar isn't hitting and returning results with different relevance values.

[2015-02-09 02:35] sckott commented on #10
@SimonGoring This fxn is to search for orcids given a DOI.

Unfortunately, their website i'm guessing doesn't consume their API (just as the PLOS website doesn't consume their search API) - so results may not be the same.

I'll have a look at the fxn. It looks like the parsing of names isn't being done correctly. I'm using `jsonlite` parser - which sometimes doesn't parse things cleanly

[2015-02-09 02:37] sckott commented on #9
@SimonGoring Sorry about the messiness. Their API returns deeply nested data, and I've tried to clean it up. I've tried to make parsing fast by using `jsonlite` C based parser, but I'll have to do it manually, but shouldn't make a big speed difference for most people.

[2015-02-09 02:38] sckott commented on #9
I'll try to add some helper fxns

[2015-02-09 02:42] SimonGoring commented on #10
I think that a bunch of this is just ORCiD being annoying.  What I expected was to see a list of all people who have that DOI in their ORCiD profiles, but I don't, it's just people who have DOIs that are somewhat similar?  So even with the fuzzy matching turned off we're still getting some kind of fuzzy matching.

[2015-02-09 02:44] SimonGoring commented on #9
No problem.  If I can help I'd be happy to.  I can see the usefulness, but
right now it's hard to use, that's probably not your fault (as I mentioned
in the other issue.

On Sun, Feb 8, 2015 at 8:37 PM, Scott Chamberlain <notifications@github.com>
wrote:

[2015-02-09 03:29] rcpeters commented on #10
Hi Guys,
Rob from ORCID. Our website actually does use the same API in this case. However the query language is bit hard to work out.

       curl -H "Accept: application/orcid+xml" "http://pub.orcid.org/v1.1/search/orcid-bio/?q=digital-object-ids:%2210.1890/130001%22"

Gives one exact match note the %22 double quotes. Without the double quotes solr will do fuzzy matching. I worked this out by ref

[2015-02-09 04:29] sckott commented on #10
hi @rcpeters woops, sorry I assumed the wrong thing :)

Thanks for the feedback - I'll debug to make this is working

[2015-02-09 04:47] sckott commented on #10
@SimonGoring okay, reinstall and try again

@rcpeters thx for the tip about the quotes, i had `%22`, but the `httr` package url encodes for me, and I forgot, so using `"` directly

[2015-02-09 05:05] SimonGoring commented on #10
Boom, that did it, perfectly.  Thanks @sckott and @rcpeters.  So @rcpeters I need to put the DOI into quotes on the main search bar on the Orcid website as well?

[2015-02-09 05:05] #10 closed

[2015-02-09 06:18] rcpeters commented on #10
Happy to hear things are working now. I don't believe we offer/map DOI
search on the GUI. I'll bring it up in the next tech meeting. Cheers,
Rob

On Sun, Feb 8, 2015 at 9:05 PM, Simon <notifications@github.com> wrote:

--
Robert Peters
info@rcpeters.com
805.440.9056

[2015-02-09 14:10] SimonGoring commented on #10
It's just that if you look at my profile I have collaborators on several
papers who also have ORCiDs, but you can't link to them through the paper
profile.  Does that make sense?

Simon
On Feb 9, 2015 12:18 AM, "Robert Peters" <notifications@github.com> wrote:

[2015-02-09 16:05] rcpeters commented on #10
GUI browsability  isn't on the 2015 road map. For 2015 improving the API
browsibility beyond DOIs is. However I wouldn't be surprised if we did a
little backfilling on the GUI after the new API browsibility is
implemented.

On Mon, Feb 9, 2015 at 6:10 AM, Simon <notifications@github.com> wrote:

--
Robert Peters
info@rcpeters.com
805.440.9056

[2015-02-09 18:46] sckott commented on #10
@SimonGoring this sounds like a problem just for the web interface, yes?

[2015-02-09 18:47] SimonGoring commented on #10
Yes, the doi search seems to work now in the package.  I get two results
from the search, one is me and one is the other co-author with an ORCiD.

On Mon, Feb 9, 2015 at 12:46 PM, Scott Chamberlain <notifications@github.com

[2015-02-09 19:32] sckott opened #11 "Convert unix timestamps to dates"

[2015-02-09 22:06] SimonGoring opened #12 "`Error in parseJSON(txt)` error with `orcid`,"
This is now happening:

[code]

The `right here` arrow should be pointing to the question mark.

[2015-02-09 22:09] gavinsimpson commented on #12
That is working for me:

[code]

[2015-02-09 22:17] sckott commented on #12
thanks @SimonGoring for reporting, and @gavinsimpson for testing

Simon, can you paste in your sessioninfo?

[2015-02-09 22:24] gavinsimpson commented on #12
FWIW I just updated my package library and reran the example without error.

[2015-02-10 04:04] SimonGoring commented on #12
Yep, just updated it and it seems to work fine.  Weird.

[2015-02-10 04:04] #12 closed

[2015-02-10 04:11] sckott commented on #12
glad it's fixed

[2015-02-10 22:59] sckott commented on #9
@SimonGoring can you reinstall and try again?

I tried to simplify the output a bit. e.g.,

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2015-02-11 01:45] sckott commented on #4
this is done

[2015-02-11 01:45] #4 closed

[2015-02-11 01:47] sckott commented on #2
i think these are implemented now

[2015-02-11 01:47] #2 closed

[2015-02-11 03:22] #5 closed

[2015-02-11 16:01] sckott commented on #11
done

[2015-02-11 16:01] #11 closed

[2015-02-11 16:01] sckott commented on #9
@SimonGoring let me know if you are happy with the output now, i..e, if we can close this issue or not

[2015-02-11 16:08] SimonGoring commented on #9
Yep, this seems a bit more manageable.  Thanks Scott.

[2015-02-11 16:08] #9 closed

[2015-02-12 19:04] bpbond commented on #12
This error occurs for me with an updated (just downloaded) `rorcid` and `jsonlite`:

[code]

Session info:

[code]

[2015-02-12 20:14] sckott commented on #12
@bpbond okay, try it again after reinstalling this pkg, looks like `httr_0.5`  was causing a problem, not sure why,

[2015-02-12 20:22] bpbond commented on #12
That fixed it! Thanks, Scott.

[2015-02-12 20:39] sckott commented on #12
great, glad it worked @bpbond

[2015-02-13 17:14] sckott opened #13 "Export check_dois fxn"

[2015-02-13 17:17] sckott commented on #13
done

[2015-02-13 17:17] #13 closed

[2015-08-21 06:56] sckott opened #14 "importFrom for all imports"

[2015-08-21 06:56] sckott opened #15 "importFrom non-base R pkgs"

[2015-08-21 07:08] sckott opened #16 "Better error handler"

[2015-08-21 07:15] #14 closed

[2015-08-21 07:17] sckott commented on #15
fixed

[2015-08-21 07:17] #15 closed

[2015-08-21 17:26] sckott opened #17 "Add test suite"

[2015-10-13 20:08] sje30 opened #18 "Getting a DOI from orcid?"
Hi,

This package looks wonderful, thanks.  I'm just getting started, so apologies if it is an easy one.  I'd like to grab DOIs for my papers, so I'm trying the following:

[code]

I think the DOI can be extracted with the following recipe:
[code]

but is there an easier way that I'm missing?

For context: what I'm hoping to do is mine ORCID for recent publications, and print them out like:

[code

[2015-10-13 20:40] sckott commented on #18
@sje30 thanks for the issue

reinstall, and try e.g.,

[code]

[2015-10-13 20:41] sckott commented on #18
`identifiers()` is a generic with just a method for `works` class objects, the output from the `works()` function, but others could be added if it makes sense. Anyhting you think could be better?

[2015-10-13 22:27] sje30 commented on #18
Wow, thanks -- this is exactly what I was after!!!

[2015-10-13 22:27] #18 closed

[2015-10-13 22:40] sckott commented on #18
sure thing

[2015-10-14 22:47] #16 closed

[2015-10-15 03:50] #17 closed

[2015-12-06 04:48] sckott opened #19 "bibtex given back as default now?"
not so great for printing to screen for summaries,

look in to

[2015-12-06 15:51] #19 closed

[2015-12-06 18:09] sckott opened #20 "Make vignette or two"

[2015-12-06 18:09] sckott opened #21 "Switch to newer tidy data.frame print code"

[2016-02-03 00:17] sckott opened #22 "content changes, encoding and parsing"

[2016-02-03 00:19] #22 closed

[2016-02-05 18:47] sckott commented on #21
or `tibble` when it gets to CRAN

[2016-02-08 06:19] ericwatt opened #23 "Example in help not working with CRAN version 0.2"
With 0.2.0 I get error:

[code]

With 0.2.0.9100 loaded with devtools, it works fine.

[code]

Issue seems to be fixed in newest version, but I don't see the issue mentioned. Just wanted to make sure devs were aware.

[2016-02-08 06:58] sckott commented on #23
Thanks much! Our tests weren't catching this problem. I'll get a new patch version to CRAN soon

[2016-02-08 06:58] sckott commented on #23
and more tests  to cover this issue

[2016-02-08 20:13] #21 closed

[2016-02-08 20:22] sckott commented on #23
This appears to be caused by the new version of `httr v1.1.0` - when I install `v1.0.0` the error goes away. Looks to be a problem in how `httr` is parsing media types:

[code]

I'll require `httr >= v1.1.0`

[2016-02-08 20:47] sckott commented on #23
r

[2016-02-08 20:47] #23 closed

[2016-05-06 20:39] bomeara opened #24 "Get employment, etc."
I'm trying to use rorcid to automatically make a CV (code at https://github.com/bomeara/cv). Orcid should suffice for this: it has info on grants, employment history, etc (i.e., http://orcid.org/0000-0002-0337-5997). However, I can't seem to get at this using rorcid; in fact, I don't see a way to get at this using ORCID's API, so the problem may lie there. However, this seems like something that s

[2016-05-06 20:58] sckott commented on #24
hey brian :) let me check - what exactly can you not get at?

[2016-05-06 21:35] sckott commented on #24
Its a complicated set of APIs - it's possible that we need to use authencation to get that information. The docs seem to indicate that any public data is available in the API calls - but employment etc. stuff isn't there - I'll keep loolking

[2016-05-06 21:35] bomeara commented on #24
I can get my works, and my email and url, but not employment history, funding, or education.

i.e., `dput(orcid_id(orcid = "0000-0002-0337-5997", profile="bio"))` shows all I get from bio, but doesn't include this, nor does the full dump of `dput(orcid_id(orcid = "0000-0002-0337-5997", profile="profile"))`.

FWIW, this is my overall profile, which has this info: http://orcid.org/0000-0002-0337-599

[2016-05-06 21:36] bomeara commented on #24
And this is a "nice to have" sort of thing: obviously I can just write this info the old-fashioned way into a CV (and it hopefully won't change as fast as publications). Just seems logical to have a way to grab this from ORCID if it already exists.

[2016-05-06 21:41] sckott opened #25 "use tibble for compact df"

[2016-05-06 21:49] sckott commented on #24
right, but needs to be sorted 🔧

[2016-05-06 21:56] bomeara commented on #24
It may be that their 2.0 API has this, but not their 1.2. https://github.com/ORCID/ORCID-Source/tree/master/orcid-model/src/main/resources/record_2.0_rc1

[2016-05-06 21:56] rcpeters commented on #24
Everything you asked for is in both APIs `curl -H'Accept: application/xml' http://pub.orcid.org/v1.2/0000-0002-0337-5997/orcid-profile`

[2016-05-06 22:02] bomeara commented on #24
Thanks, @rcpeters. So it could just be a matter of having rorcid process this info (while not ruling out that it already does, and I just missed this somewhere in its output).

[2016-05-06 22:05] sckott commented on #24
ah, looks like I was dropping `orcid-activities`

[2016-05-06 22:12] sckott commented on #24
@bomeara reinstall `devtools::install_github("ropensci/rorcid")`

[code]

[2016-05-06 22:35] bomeara commented on #24
Perfect! Well done. Thanks, @sckott & @rcpeters!

[2016-05-06 22:35] #24 closed

[2016-05-06 22:49] sckott commented on #24
glad it works.

[2016-05-07 06:48] mfenner commented on #24
Great stuff. You might also consider pulling in info from some of the places that build profiles using ORCID, e.g. ImpactStory or Europe PMC (http://europepmc.org/authors/0000-0002-0337-5997). The latter has no API yet.

Something I am working on with ORCID is pushing (authenticated) GitHub usernames into the ORCID profile from DataCite, so in the future you will also fetch that info from ORCID an

[2016-05-07 16:28] sckott commented on #24
Good ideas, but do want to stick to ORCID in this pkg - perhaps a different pkg could combine them

[2016-05-07 19:24] sckott opened #26 "Any reason to support oauth and any routes that use it?"
not sure yet if any use cases make sense in R

[2016-05-23 04:43] SimonGoring opened #27 "lexical error: invalid char in json text with `as.orcid`"
This seems to be coming from the ORCID side (maybe?) but I'm getting it through rorcid and can't figure out what's going on.

It literally just started:

[code]

So it seems like a whole page is being returned instead of the original JSON.  Any thoughts?

[2016-05-23 04:44] rcpeters commented on #27
Some is trying to send to much traffic. Ask for 1000 records and keeps
retrying regardless of the response.

On Sun, May 22, 2016 at 9:43 PM, Simon <notifications@github.com> wrote:

--
Robert Peters
info@rcpeters.com
805.440.9056

[2016-05-23 04:48] sckott commented on #27
@rcpeters DOS attack?

@SimonGoring yeah, everything is failing, hopefully back up soon

[2016-05-23 04:55] rcpeters commented on #27
Right now it looks to be an issue with a new server deployed to help cope
with the original issue. However since you guys are noticing the original
issue might be @SimonGoring. Let's talk later this week about what you guys
are trying to do and I can verify.

On Sun, May 22, 2016 at 9:48 PM, Scott Chamberlain <notifications@github.com

--
Robert Peters
info@rcpeters.com
805.440.9056

[2016-05-23 04:59] SimonGoring commented on #27
@rcpeters I was only calling on or two at a time.  Specifically my own & one other.

[2016-05-23 05:03] SimonGoring commented on #27
@sckott @rcpeters the problem seems to have resolved now.  I'll close the issue since it's unrelated to the package.

[2016-05-23 05:03] #27 closed

[2016-05-23 05:06] rcpeters commented on #27
Ah, that should be 100%. It looks like someone trying to compare names in
bulk. I'll keep hunting :-)

On Sun, May 22, 2016 at 9:59 PM, Simon <notifications@github.com> wrote:

--
Robert Peters
info@rcpeters.com
805.440.9056

[2016-05-23 05:35] sckott commented on #27
@rcpeters good luck :)

[2016-05-23 14:48] sckott commented on #27
tests are all passing now, looks like all is good

[2016-09-12 19:42] nuskcalb opened #28 "Education, Employment, Funding..."
Dear sckott,

I was wondering if there is a way to get the "Education", "Employment" and "Funding" sections from the ORCID profiles. Right now, as far as I can see, you can only get the "Works" section.

Cheers!

[2016-09-12 21:52] #28 closed

[2016-09-12 21:56] sckott commented on #28
Thanks for your question @nuskcalb

You can get Education/Employment/Funding data as long as the user has made that information public. `rorcid` only interacts with the public API at this point, so it may be that if you use the members API (ORCID members, i.e., publishers/libraries I guess, I don't really know)  you may be able to get this info regardless if made public or not.

reinstall

[code]

[2016-09-13 09:50] nuskcalb commented on #28
Thanks @sckott

I was using the CRAN version and couldn't make it work. After installing the Github version I can get all the data.

Thanks again and great work!

[2016-09-13 14:12] sckott opened #29 "Add in orcid-activities (employment/funding/etc.) to orcid_id()"

[2016-09-13 14:12] sckott commented on #29
already done in https://github.com/ropensci/rorcid/commit/74a108c3bac5f8d6e3a26e3f61e058603509af8b

[2016-09-13 14:12] #29 closed

[2016-09-13 17:51] sckott opened #30 "is to inherits and namespace base method calls"

[2016-09-13 17:58] #25 closed

[2016-09-13 17:58] #30 closed

[2016-09-13 18:17] #20 closed

[2016-09-13 18:49] sckott commented on #26
moving to next milestone, seems like ouath is used mostly for member API stuff, and i can't even play with that, so

[2016-09-13 20:04] rcpeters commented on #26
Using credentials (which can be done with the public API) helps us know who
is doing what. That is helpful when we see scripts going crazy and we can
let the client know it's going to be an issue. We also often have
suggestions for optimizations to get what they need faster and or identity
patterns we need to implement to make things faster.

On Tue, Sep 13, 2016 at 11:49 AM, Scott Chamberlain <
n

[2016-09-13 20:14] sckott commented on #26
thanks. Do you want this package to require users to use OAuth - or just suggest it?  Suggest only in certain use cases?

related: I assume we can use a personal access token workflow w/o having to do 3 legged oauth?

[2016-09-13 20:20] rcpeters commented on #26
Yes you can use two-step and developer credentials to get a token. Right
now "strongly suggest it". Later we may require it but that would only be
after we offer a credential free instant download of all public data, which
is being worked on.

Thanks!

On Tue, Sep 13, 2016 at 1:14 PM, Scott Chamberlain <notifications@github.com

--
Robert Peters
info@rcpeters.com
805.440.9056

[2016-09-13 20:45] sckott commented on #26
Okay, I'll get auth incorporated.

[2016-09-13 21:25] mfenner commented on #26
@rcpeters I am not clear why the reasons you outlined should require oauth authentication. A common alternative I see with some APIs is to use the user-agent string to identify yourself. I would be very happy if using the public ORCID API requires an API key.

[2016-09-13 22:10] rcpeters commented on #26
For the times we've seen issues user agents have not been the least bit
useful. The worst time was several "browser" agents doing lookups for every
name in a dictionary across multiple IPs. So I'm only looking solve issues
at 200,000+ queries in a short timeframe. Maybe we'll never get to
requiring credentials for public API, but the pragmatist in me wants to as
institutions rely the Public API fo

[2016-09-14 02:05] sckott commented on #26
@rcpeters Is there a GUI interface on ORCID's website for users to generate a PAT?

[2016-09-14 02:44] sckott commented on #26
@rcpeters Also, I don't see any rate limit headers. Does that mean there isn't any, or is there rate limiting, but the headers aren't exposed?

[2016-09-14 03:07] rcpeters commented on #26
re:GUI interface to get search token. No we'll add at least a curl example
for generating one.

Rate limits.

Definitions:

   - Request a second - Number of request that can be made a second.
   - Burst - Number of request we will allow to be queued before rejecting.
   The request in the queue are slowed down at the request a second rate.

v1.2

   - Request a second - 8
   - Burst - 40

2.0_rc+

[2016-09-14 03:45] sckott commented on #26
for generating one.

okay, thanks.

thanks for info on rate limits

[2016-09-14 16:28] sckott commented on #26
@rcpeters Weirdness is happening. When using authentication it works fine with

[code]

or

[code]

But fails on

[code]

BUT, the above request works fine with no authentication

[code]

Any guesses as to what's going on here?

wrt scopes, AFAICT from http://members.orcid.org/api/orcid-scopes the `/authenticate` scope is the only one users can use on the public API, correct?

[2016-09-14 16:49] rcpeters commented on #26
@sckott  see http://members.orcid.org/api/tutorial-searching-data-using-api (or in short /read-`scope=/read-public`. @caoyler We need to make sure the documentation is easy to fine. Especially from https://orcid.org/developer-tools.

[2016-09-14 18:22] sckott commented on #26
thanks!

[2016-09-22 18:15] sckott commented on #26
Auth support didn't go out on the version that was jus released, as I still need to sort out some details

[2017-01-30 17:22] rossmounce opened #31 "How can I get a list of external identifiers of works?"
I'm not very good at manipulating json / deeply nested list data.

How can I get a nice flat list (i.e. a data.frame) from orcid, using `rorcid` ?

I got as far as this:

[code]

How can I return just the "work-external-identifier-id.value" 's that are a DOI, as a dataframe, with or without the NULLs preserved, I don't mind?

[2017-01-30 21:23] sckott commented on #31
thanks for  your question Ross,

e.g..,

[code]

or e..g, `do.cal(rbind, ...)` or `data.table::rbindlist()`

[2017-01-30 22:12] rossmounce commented on #31
Thanks!

...and sorry that this wasn't really a bug with the software, more my insufficient knowledge of data structures!

[2017-01-30 22:27] sckott commented on #31
no problem, the ORCID data is especially deeply nested so it's a pain to work with sometimes.

[2017-02-27 22:01] sckott opened #32 "replace httr with crul"

[2017-03-13 16:22] #31 closed

[2017-03-13 16:23] sckott opened #33 "search on works metadata"
see http://support.orcid.org/forums/175591-orcid-ideas-forum/suggestions/15296196-search-by-works-metadata

and https://gist.github.com/sckott/41a400341180e967d5405642537b7c1e

[2017-03-16 18:50] sckott opened #34 "`identifiers` fxn needs some updates AFAICT"

[2017-03-16 19:39] #34 closed

[2017-04-06 19:24] sckott opened #35 "use markdown docs"

[2017-04-06 19:41] #32 closed

[2017-04-06 20:42] #35 closed

[2017-04-06 21:02] sckott commented on #33
@rcpeters i can't find any examples how to search on external identifiers - any examples?  i assume one has to define what identifier is being used

[2017-04-06 21:40] rcpeters commented on #33
Documentation isn't very clear. @TomDemeranville or @caoyler can we add some clarity?

[2017-04-10 08:42] TomDemeranville commented on #33
@sckott we are working on improving the documentation.  The id types can be found here: https://pub.orcid.org/v2.0/identifiers?locale=en

For each name, you can search for them using either self or part-of as a suffix.  e.g. 'doi-self' or 'isbn-part-of' as the field names.

[2017-04-10 18:05] sckott commented on #33
@TomDemeranville thanks very much.

[2017-05-10 03:03] cboettig opened #36 "2.0 API, searching for specific fields?"
Looks like rocid is using 1.2 API? 2.0 supports much richer queries: http://members.orcid.org/api/tutorial/search-orcid-registry .  In particular, I'd like to be able search by user email (or user first/last name) to see if a user has an ORCID id.  (not sure how many orcid users actually expose their email in their record, maybe searching by names would be best ).

Anyway, the current version just

[2017-05-10 17:43] sckott commented on #36
Thanks for raising the issue @cboettig (related #26) have

will have a look and fix

what "current search"?

-----

I thought 2.0 was just for members but saw this on http://members.orcid.org/api

so i guess we need to move to 2.0 for sure for unauthenticated as well as with auth

[2017-05-10 18:24] sckott opened #37 "Orcid API changes"
@rcpeters It appears we need to switch over to v2.0 API from v1.2, correct?  Seems that public and member will soon be only 2.0, correct?

Do you have a changelog or so?  It seems some routes in v1.2 are now gone in v2.0. e,g, `/search/orcid-bio` from v1.2 doesn't seem to exist in v2.0 - or am I wrong ?

Any update on when v1.2 will be dropped completely?

[2017-05-10 20:39] rcpeters commented on #37
The URLs are different but the queries are the same:
`curl https://pub.orcid.org/v1.2/search/orcid-bio?q=johnson+AND+cardiology+AND+houston`
vs
`curl https://pub.orcid.org/v2.0/search/?q=johnson+AND+cardiology+AND+houston`

2.0 will only return IDs (ideal of some integrations and less then ideal for others). I would expect v1.2 to be dropped in 2017 Q4.

[2017-06-16 16:32] sckott commented on #33
the issue closed  https://support.orcid.org/forums/175591-orcid-ideas-forum/suggestions/15296196-search-by-works-metadata and they say

which already knew, but also

docs: https://members.orcid.org/api/tutorial/search-orcid-registry

[2017-09-08 19:42] sckott opened #38 "new routes for stats API"
https://pub.orcid.org/v2.0#/Statistics_API_v2.0_rc1

[2017-09-08 22:47] sckott opened #39 "make sure identifiers works"
https://pub.orcid.org/v2.0#!/Identifier_API_v2.0/viewIdentifierTypes

[2017-09-08 22:55] sckott commented on #36
@cboettig started working on new v2 api, `devtools::install_github("ropensci/rorcid@api-v2")`

some functions may not work: identifiers, works, as.orcid, browse, check_dois, orcid_id

auth is started and is working more or less - BUT turns out auth isn't required on v2 api even though docs say it is - but it's highly encouraged, so will make it mandatory i guess soon

[2017-09-08 22:56] sckott commented on #37
started in 4ba436c on branch `api-v2`

[2017-09-08 22:56] sckott commented on #26
auth work moved to branch `api-v2` - changes in 4ba436c

[2017-09-09 22:03] cboettig commented on #36
Very cool.  Wonder if this might be useful to our interns; whom I'm hoping will help us add ORCID ids to package author metadata...

[2017-09-11 22:09] sckott commented on #36
Yeah, could be, hopefully I can get this sorted sooner than later :)

[2018-01-30 20:10] sckott opened #40 "Dates for API version changes"
- From February 1, 2018: the default version used for API calls will move from version 1.2 to 2.0. This change will only affect calls that do not specify the version.
- From March 1, 2018: version 1.2 will no longer be available on the Public API - All calls made to the Public API (using the pub.orcid.org domain) must use version 2.0 or 2.1; calls made using version 1.2 will return an error.

[2018-02-02 01:46] sckott opened #41 "fxn `orcid_id()` may not make sense anymore"
the API has changed, and the API routes that were used in that fxn are changed.

* `/{orcid}/orcid-bio` is gone AFAICT
* `/{orcid}/orcid-profile` is gone AFAICT
* `/{orcid}/orcid-works` has changed to `/{orcid}/works` - but data structure is different anyway

[2018-02-02 01:59] sckott commented on #39
At least some functionality here doens't work anymore, given that `/search` returns only identifiers and not some of the other metadata

[2018-02-02 02:25] sckott commented on #38
seems to be gone, clsoing

[2018-02-02 02:25] #38 closed

[2018-02-02 02:26] #37 closed

[2018-02-02 19:38] #41 closed

[2018-02-02 19:38] sckott commented on #41
sorted out, wraps `orcid_person` now

[2018-02-02 19:39] sckott commented on #26
using oauth now, with option for storing token as env var

[2018-02-02 19:39] #26 closed

[2018-02-02 21:39] sckott commented on #39
fixes in c2b87a6 and to `works()`

[2018-02-02 21:39] #39 closed

[2018-02-02 21:40] sckott commented on #36
using v2.1 now, closing

[2018-02-02 21:40] #36 closed

[2018-02-02 22:31] sckott commented on #33
i think this is sorted now, closing

[2018-02-02 22:31] #33 closed

[2018-02-11 16:16] #40 closed

[2018-02-11 17:59] sckott opened #43 "Check back in on out of band (OOB) oauth"
see https://groups.google.com/forum/#!topic/orcid-api-users/tMS7-OnwOU0  for progress

[2018-02-14 21:21] gorkang opened #44 "works() not getting citation info with 0.4.0?"
With the rorcid 0.3.0 version I could run:

[code]
And get the citation information for all the works from the column `work-citation.citation`.

In the 0.4.0 version when I get the works, lots of the old columns are gone, including the citation:

[code]
There is any way to get the complete ORCID works info with the new rorcid package?

PS: Thanks for bringing up to speed the rorcid package with th

[2018-02-14 22:17] sckott commented on #44
thanks @gorkang for this.

Good question. I'm not exactly sure how to get it.

Ive asked the ORCID devs and will get back to you.

[2018-02-15 00:19] sckott opened #45 "for OAuth make sure we do /read-public scope"

[2018-02-15 00:19] sckott commented on #44
@gorkang got a reply - will reply back soon with a solution that works here

[2018-02-15 06:24] sckott commented on #44
@gorkang this is a solution. thoughts?

[code]

[code]

[2018-02-15 13:39] gorkang commented on #44
Thanks for the prompt response!

OK, so as far as I understand, when you call orcid_works() for a single record and include the put-code, it returns the citation information. Awesome!

My worry with the new system is that now I would need two calls to orcid to accomplish what I was doing with only one with the previous version. I did a very basic benchmarking to see the potential consequences.

I

[2018-02-15 17:59] sckott commented on #44
thanks for the detailed look at this.

short answer: ORCID will retire the older API soon, so there's no option of going back to it. They decided for whatever reason to move more detailed citations out of responses for a given ORCID ID, and require one to request that information for each individual work - so we're sort of stuck with this. We can of course try to optimize the code to make it as fa

[2018-02-15 20:41] gorkang commented on #44
Thanks for letting me know.

Do you know if we(I) can pass the above info along to them? Anyone specifically? [Here](https://github.com/ORCID)? I would love to try to understand the logic and see if there is any way to get the details for all the works of a researcher in a single call.

I am implementing a pilot system to automatically check the publications of a small group of researchers using O

[2018-02-15 21:45] sckott commented on #44
This is where I asked about it https://groups.google.com/forum/#!topic/orcid-api-users/xf06IxQqSbY so you can maybe comment there to ask them.

I want to help you make it feasible to use this, we'll try to make it happen.

[2018-02-15 22:07] rcpeters commented on #44
Hi Guys,
It's just not possible with standard HTTP calls when you factor in
hyper-authors (defined as having 1000s of works with 1000s of
contributors).

Here is the counts of number of works grouped by ORCID:
 48593
 21400
 19454
  6978
  6348
  4962
  4367
  4202
  4107
  3772
  3350
  3323
  3308
  3168
  3149
  3085
  3081
  2876
  2728
  2722
  2461
  2457
  2373
  2366
  2336
  2296
  2275

[2018-02-15 22:12] sckott commented on #44
thanks @rcpeters - forgot about that already

@gorkang i'll try the up to 50 put codes and see how that affects timing.

[2018-02-15 22:29] sckott commented on #44
@gorkang made a change in `orcid_works` - reinstall `devtools::install_github("ropensci/rorcid")` and try e.g, https://github.com/ropensci/rorcid/blob/master/R/orcid_works.R#L44-L47

[2018-02-15 22:29] gorkang commented on #44
Thanks @sckott and @rcpeters ! I really appreciate your help.

If it is possible to get the detailed works (including citations) of a researcher 50 at a time, that would be awesome! 1-3 calls should be enough for most researchers.

Not sure if there is a filter parameter we could use (e.g. filter = `c(publication-date.year.value > 2014))` directly in the orcid_works() call.

Alternatively, we can

[2018-02-15 22:48] sckott commented on #44
The only filtering that might be possilbe is with the `orcid()` function - e.g., can do `orcid('work-titles:Modern developments in holography and its materials')`, but i don't think they expose dates of works in that API route.  @rcpeters ?  But even if you could search with a date filter like that `orcid()` only retuns the ORCID IDs, and not the works themeselves.

The solution that seems best is

[2018-02-15 22:50] gorkang commented on #44
@sckott, that improves things a lot. With the short profile time goes down to < 1s.

But, with the long profile, for some reason, your code fails... (see code below)

[code]

Do you think splitting longer than 50 put-codes in 50-item chunks 50 could be implemented directly in the orcid_works() function?

[2018-02-15 23:14] sckott commented on #44
okay, reinstall again

[2018-02-15 23:25] gorkang commented on #44
Awesome!

Sorry for nitpicking... and please, do ask me to go to hell if you feel like it. It works great, the only problem being that the structure of the list changes depending on the number of put-codes:

![screenshot from 2018-02-15 20-20-28](https://user-images.githubusercontent.com/6491790/36286316-f2231118-128d-11e8-957c-979c04782e0b.png)

It could be possible for the bulk call to have the

[2018-02-16 01:13] sckott commented on #44
does that work better?

[code]

[2018-02-16 01:21] gorkang commented on #44
Mmmm... weird. That last line gives me a:

 

[2018-02-16 01:23] sckott commented on #44
what line?

[2018-02-16 01:24] sckott commented on #44
and did you reinsatll?

[2018-02-16 01:39] gorkang commented on #44
I reinstalled but it seems I didn't restart property the R session :S

Anyway, yes! It works! I will try to check everything with a bit more time tomorrow and let you know how it goes.

Thanks again for all the help.

[2018-02-16 03:16] sckott commented on #44
Great, glad it works.

[2018-02-17 13:38] gorkang commented on #44
I had some time this morning to take a closer look.

Timewise things are really awesome now.

The only remaining issue is that `orcid_works()` returns lists with different structures depending on the number of records (<= 50 vs > 50). See code below ( # 3. Both simultaneously).

As you can see, the simple profile list ("0000-0001-7678-8656") has a different structure to the complex profile list ("

[2018-03-07 12:03] jofazepa opened #46 "Error using multiple ORCID ID's"
When using rOrcid for multiple to get multiple ORCID, and this didn't happen before, just like the example in the tutorial:
[code]
Returns this. I believe is a ddply problem with summarize, maybe mutate will solve the problem.
[code]

[2018-03-07 18:03] sckott commented on #46
thanks for the issue @jofazepa

can you share your `sessionInfo()` please

[2018-03-08 07:15] sckott opened #47 "Fix docs for auth on how to get token"

[2018-03-08 07:15] #47 closed

[2018-03-08 08:30] jofazepa commented on #46
R version 3.4.3 (2017-11-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=Portuguese_Portugal.1252  LC_CTYPE=Portuguese_Portugal.1252    LC_MONETARY=Portuguese_Portugal.1252 LC_NUMERIC=C
[5] LC_TIME=Portuguese_Portugal.1252

attached base packages:
[1] stats     graphics  grDevices utils     datasets  metho

[2018-03-08 15:53] sckott commented on #46
The new version of `rorcid` has some changes, one of which is `orcid_id` only accepts one ORCID.

you're looking for just getting the same ORCID id again from the result?

[code]

[2018-03-08 16:05] jofazepa commented on #46
I used to get bulk publications/work for multiple ORCID Ids, using this:
`x <- orcid_id(orcid = ids, profile = "works")`
When I got the error I just run through the rORCID tutorial and found the code I pasted here. Also tried other ways, like
`x <- lapply(orcid_id(orcid = ids), "[[", "orcid-identifier")`
And the same error happens. I was looking for a way to do the same thing, because that is why

[2018-03-08 16:33] sckott commented on #46
it is able to do that if you slightly change your code.

this in the new verison

[code]

does exactly what this did in the old version

[code]

[2018-03-08 17:05] jofazepa commented on #46
This means that if I change "names" for "works" I get the works from them, like this:
`x <- lapply(ids, function(x) works(orcid_id(x)))`
Therefore just needing to change the list to a data.frame to be able to have an organized publications list for a set of orcid.ids.

[2018-03-08 17:58] sckott commented on #46
right, the eg. I gave with `names()` was to just get exactly what your example code was doing. right, so just lapply or similar over your ORCID's

[2018-03-09 09:04] jofazepa commented on #46
Thanks sckott.

[2018-03-09 09:04] #46 closed

[2018-03-16 19:10] sckott commented on #44
thx, will have a look

[2018-03-16 20:42] agbarnett opened #48 "Converting Scopus IDs to DOIs"
The new code returns a lot more Scopus IDs (EIDs). Is there an easy way to convert EIDs to DOIs? Thanks.

[2018-03-16 22:28] sckott commented on #44
@gorkang I think it's improved now. can you reinstall and try again

the structure has changed a bit, so here's your modified function:

[code]

[2018-03-17 22:01] sckott commented on #48
thanks @agbarnett for the issue.

i'll have a look and get back soon with an eg.

[2018-03-21 06:16] agbarnett commented on #48
![adrian barnett 0000 0001 6339 0374 orcid connecting research and researchers](https://user-images.githubusercontent.com/23534166/37696549-2d9e6260-2d23-11e8-8c94-029109d32e4b.png)
Here's an example paper with no DOI in ORCID

[2018-03-21 22:32] sckott commented on #48
if you look at the results in Crossref for that journal http://api.crossref.org/journals/0794-2184/works they only have given out 29 DOIs

if we look at those

[code]

the only ones with DOIs are form 2009, 10, and 11.

So I'm guessing that some of the cases where you're fidning a scopus ID but no DOI are from there not being any DOI to be found - whereas there's some that may have DOIs, but we ju

[2018-03-22 05:05] agbarnett opened #49 "Error for specific researcher"
I'm getting an error for this specific researcher who has over 100 papers. The same error appears if I change the type to 'eid' or 'pmid'.

Error in z[tolower(z$`external-id-type`) %in% type, "external-id-value"] :
  incorrect number of dimensions

[2018-03-23 01:42] agbarnett commented on #48
Thanks, that makes sense. Here's a paper with a DOI that doesn't appear in the works data [https://www.ncbi.nlm.nih.gov/pubmed/26846860](https://www.ncbi.nlm.nih.gov/pubmed/26846860) from the ORCID ID 0000-0002-0104-5679.

[code]
Perhaps it's because the paper has been entered into ORCID by "SELF", which I presume means self-entered?

I use the DOI to get the complete details on the paper. The key

[2018-03-23 09:56] 123vaibhav commented on #12
I am facing the similar issue as above. I have tried all the methods listed above and also other internet resources. I have updated all my packages as well as rorcid(). A brief about by issue, I am trying to read data via API and getting error as

Error: lexical error: invalid char in json text.
                                       <?xml version="1.0" encoding="u
                     (right here

[2018-03-23 13:15] sckott commented on #12
@123vaibhav is this a question about this package?

[2018-03-23 14:29] gorkang commented on #44
Thanks for taking a look @sckott . Things have indeed improved.

![screenshot from 2018-03-23 06-55-55](https://user-images.githubusercontent.com/6491790/37823124-5032964e-2e67-11e8-8fc3-ac347087ff9e.png)

Now we have a common structure in the first two levels:
* Profiles with < 51 publications: [[1]][[ORCID-ID]][[1]]

* Profiles with > 50 publications: [[1]][[ORCID-ID]][[1]] and [[1]][[ORCID-ID]]

[2018-03-26 08:02] 123vaibhav commented on #12
@sckott
I am not a master in R so I am not sure if this issue is with package or not. However as mentioned in my earlier comment I have already tried all solutions mentioned in this trail as well as other internet resources. Looking forward to your help on this matter.

Thanks in advance.

[2018-03-26 22:03] sckott commented on #12
@123vaibhav its' not clear to me that you're actually using `rorcid` can you show me example code using `rorcid` that's causing the problem

[2018-03-30 21:13] sckott commented on #49
thanks @agbarnett

[2018-03-30 21:27] #49 closed

[2018-03-30 21:27] sckott commented on #49
@agbarnett try again after reinstalling

[2018-03-30 23:01] sckott commented on #48
Still looking into this. There's nothing really out there for doing this lookup at the moment, fiddling around, hopefully will have something soon

[2018-03-31 01:26] sckott commented on #44
try again after reinstalling @gorkang

[2018-03-31 04:16] agbarnett commented on #49
Working well, thanks. Would be great to this updated on CRAN so that the shiny app works.

[2018-04-04 12:32] joneriks opened #50 "Auth Issues"
I have successfully been using this package for quite a while (Thank you!!), but starting yesterday (after being away for a couple of weeks), I can no longer authenticate.
I get:
"no ORCID token found; attempting OAuth authentication" it then some times just hangs there for a while and throws a 404 error (Error: Not Found (HTTP 404).  - 404 Not Found: The resource was not found.,") or it sends me

[2018-04-04 16:25] sckott commented on #50
thanks @joneriks for the issue.

Please share your `sessionInfo()` so I can see what version you have and what system you're running on. Are you using rstudio on a server, or locally on your own machine

[2018-04-04 16:29] joneriks commented on #50
I have actually tried it on two computers with local RStudio installations, and also on a Rstudio server. I have the same issues on both setups. Here is the session info from one of the local installations:

R version 3.4.3 (2017-11-30)
Platform: i386-w64-mingw32/i386 (32-bit)
Running under: Windows 7 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=English_United Stat

[2018-04-04 23:01] sckott commented on #50
thanks, will have a look

[2018-04-05 09:47] gorkang commented on #44
This is great. It works now as expected. Thanks!

Now I can combine the lists using:

`df_combined = do.call(rbind, list_multiple %>% flatten()) %>% bind_rows()`

[2018-04-05 09:47] #44 closed

[2018-04-05 15:39] gorkang opened #51 "Citation format problems"
The citation information seems to have some problems with "non-standard" characters (e.g. " ' ", "(", "&", "é", etc.)

Please, see the following example:
[code]

The citation-value column is:

[code]

As you can see, the "non-standard" characters are shown between {}, in a weird way. See below the specific problems in this particular reference (plus some others I've found).

[code]

To make it mor

[2018-04-05 18:17] sckott commented on #51
thanks @gorkang

I think the problem is on ORCID's end, or at least with their data providers, hard to say where that would go wrong. here's my analysis of the situation.

in R

[code]

with curl on the command line

[code]

The only format that works (has correctly formatted characters) is `application/vnd.citationstyles.csl+json`

@rcpeters any thoughts on where the problem may lie? i guess if i

[2018-04-05 18:27] sckott commented on #50
I would strongly recommend using the token  approach, but of course the oauth needs to work once at least first.

The docs for that are in `?auth`

When you get this error

report back here what the URL is

[2018-04-05 18:40] joneriks commented on #50
Sorry about that, here is the correct sessionInfo():

R version 3.4.3 (2017-11-30)
Platform: i386-w64-mingw32/i386 (32-bit)
Running under: Windows 7 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base

[2018-04-05 18:51] sckott commented on #50
so that redirect uri (`urn:ietf:wg:oauth:2.0:oob`) is for OOB Oauth and you must have had it set somehow to  - ORCID doesn't support that yet, see discussion here https://groups.google.com/forum/#!topic/orcid-api-users/tMS7-OnwOU0

you can set the redirect uri manually and see if that works, like `orcid_auth(redirect_uri = "http://localhost:1410/")`

[2018-04-05 20:01] joneriks commented on #50
Thanks, the last line seems to have solved my Auth issue, as I can now run for instance:
`out<-works(orcid_id("0000-0001-8446-1995"))`

However, when I try to run (ids is a list of ORCIDs):
`works_list<-lapply(ids, function(x) works(orcid_id(x)))`
or
`works_list<-lapply(ids, function(x) orcid_works(x))`
I now get a"Error: Not Found (HTTP 404).  - 404 Not Found: The resource was not found."
Maybe t

[2018-04-05 21:06] sckott commented on #50
Share some code that fails so I can try it. The code above is sudo code cause I can't run it, e.g., I don't have `ids`

[2018-04-06 13:26] joneriks commented on #50
This is resolved, apparently if an ORCID is invalid (e.g. a digit is missing or it doesn't exist) it throws that rather cryptic error of 404 since it can't look up the resource.
Thanks for all your help.

[2018-04-06 13:26] #50 closed

[2018-04-06 16:11] sckott commented on #50
Okay. I forget sometimes that HTTP errors (e.g., 404) are not universally understandable - 404 means that it was not found. And I think it says as much:

[code]

[2018-04-07 10:48] gorkang commented on #51
In the meaintime, and in case this is useful to someone, I am "manually" cleaning the affected columns using the function below (I am sure it can be improved):

[code]

[2018-04-08 13:47] gorkang commented on #48
@agbarnett , not sure about converting EIDs to DOIs, but for the specific case you mention, you can use the ORCID ID and the put-code to get the journal title, or the full citation:

[code]

[2018-04-08 14:06] gorkang opened #52 "orcid_peer_reviews() not getting journal name?"
I am trying to get the peer review activity from ORCID profiles using orcid_peer_reviews(). Everything seems to work fine, but I cannot find the journal names of the reviews.

For example, to get the following review from an ORCID profile...
![screenshot from 2018-04-08 10-54-28](https://user-images.githubusercontent.com/6491790/38468397-866a5cfe-3b1b-11e8-8d02-f8792202059d.png)

I use the code be

[2018-04-08 20:11] rcpeters commented on #51
I've used this example in past presentations:
`curl https://pub.orcid.org/v2.1/0000-0002-0036-9460/works/27038790`

In my personal opinion the citation field is nearly useless do to variations in citation formats and sub-formats. Instead PIDs should be provided and resolved which allows a better reflections of the diverse needs of the research community. We are working toward this.

[2018-04-08 20:16] sckott commented on #51
@rcpeters 😆 nice one

By PIDs do you mean using content negotiation of DOIs for the works?  But some works won't have DOIs though, right?

what's the timeline?

[2018-04-10 03:01] sckott commented on #52
thanks for the question @gorkang

@rcpeters another question for you. Seems like journal name is shown in the ORCID UI for peer reviews. but I can't seem to find it either in the API response. Any guidance?

[2018-04-10 03:15] alainna commented on #52
For peer reviews, the journal name (or publisher name, or organisation, etc) is going to be found in the group data.

https://pub.orcid.org/v2.1/0000-0001-7678-8656/peer-review/220419 ->

<peer-review:review-group-id>**issn:1939-2222**</peer-review:review-group-id>

The peer review won't necessarily  be grouped by the publisher or journal name -- review groups can be as specific or general as the

[2018-04-10 04:07] rcpeters commented on #51
Members pushing data are required to provide an external identifier. We are looking at testing requiring users doing self entry to do the same this year.  The timeframe for 100% compliance would be in years. But the percentage of works with external identifiers will continuously increase.

[2018-04-10 04:42] sckott commented on #52
thanks @alainna  for that, that's what we needed `review-group-id`, sorry i missed that

[code]

[2018-04-10 05:01] rcpeters commented on #52
Just a note not all group IDs are required to be ISSNs.

      select split_part(group_id,':',1) as prefix, count(*) from group_id_record group by prefix;
           prefix      | count
      -----------------+-------
       publons         |  1297
       orcid-generated |   100
       ringgold        |     1
       issn            | 13181
      (4 rows)

[2018-04-10 06:01] sckott commented on #51
thanks for the info

[2018-04-10 17:46] sckott commented on #52
Thanks @rcpeters - well i guess we can try to detect if it's an ISSN, and if so, we can try to grab the journal name

[2018-04-12 13:57] maelle opened #53 "crul + httr"
Is OAuth the reason why this package imports both packages?

[2018-04-12 15:50] sckott commented on #53
correct ✅

i don't have oauth in `crul` yet, so need the other. I'd rather not support oauth since it's much nicer experience to use personal access tokens, but probably best to do both

[2018-04-12 15:57] maelle commented on #53
yeah if you have to 😉

thanks for the answer!

[2018-04-12 15:57] #53 closed

[2018-04-18 21:53] sckott opened #54 "Add function to make search easier"
via ropensci/codemetar#83

[2018-04-24 13:19] pkraker opened #55 "Command line authentication"
OS: Ubuntu 14.04
R version: 3.4.0
Pacakge version: 0.4.2.9110

I am trying to run a script using `rorcid` with `Rscript`. I completed the following steps, but I always get the following error: `Error: Unauthorized (HTTP 401)`

1. I registered an application with ORCiD with the redirect URL set to `http://localhost`
1. I entered the client secret to my .Renviron-file by setting the variable `ORCID_

[2018-04-24 21:13] sckott commented on #55
Sorry about the error. We've added docs on authentication here https://github.com/ropensci/rorcid/blob/master/R/auth.R#L11-L37

Can you run R interactively, and run `orcid_auth()`, then get the token out of that? Or does running ` `orcid_auth()` not work when in R interactive session?

[2018-04-25 21:43] pkraker commented on #55
Thanks, running `orcid_auth()` did indeed do the trick! But I had to switch to a system that allows for an interactive session to obtain the token. In the terminal-only environment, `orcid_auth()` produced the following error:

[code]

[2018-04-25 22:12] sckott commented on #55
thanks for this, yeah we need to fail nicely when the user is in a context where a browser can no be opened

[2018-05-11 21:40] #55 closed

[2018-05-11 21:49] sckott commented on #51
@gorkang in the meantime, can you use `format = "application/vnd.citationstyles.csl+json"` when you use `orcid_works`?

e.g.,

[code]

[code]

[2018-05-11 22:36] sckott commented on #52
@gorkang does this solultion https://github.com/ropensci/rorcid/issues/52#issuecomment-379971887 work for you?  I don't think we want to integrate `rcrossref` into this pkg, but we could document how to work with it to get publication title names. Thoughts?

[2018-05-12 09:57] gorkang commented on #52
Thanks @sckott for checking back on this.

Yes, looking for the journal name using issn works, although **it is very slow**, so it adds ~15s for each researcher I have (see code below).

[code]

Taking those extra 15s for each researcher feels particularly wasteful as the the journal name is in the ORCID website (but for some reason not in the ORCID data):

![screenshot from 2018-05-12 06-52-36](h

[2018-05-12 10:08] gorkang commented on #51
It seems I can use it, but only with a single put-code. When I send a bunch of put-codes (see code below):

[code]

[2018-06-14 00:02] sckott commented on #51
hi @gorkang looking at this now,

@rcpeters not sure i understand what's going wrong here. looks like accept type `application/vnd.citationstyles.csl+json` only accepts 1 put code at a time? whereas accept `application/json` accepts many put codes. Seems like the error message is throwing down 3 different http status codes? 405, 406, and 415?

[code]

[2018-06-14 03:18] rcpeters commented on #51
We don't support bulk csl. Not sure we can easily add that. @TomDemeranville might be able clarify.

[2018-06-14 03:21] sckott commented on #52
@gorkang  just took another look at this.

i can't replicate your function above because the object `df_orcid_names` is missing, but I think i have a solution.

I just added a dataset of issn's and journal titles gathered from crossref, i need to work out a process for updating it, or letting users do so, but is much faster. e..,g,

[code]

[2018-06-14 08:44] TomDemeranville commented on #51
I think this is a case of us supporting multiple putcodes when requesting JSON/XML but not when requesting application/vnd.citationstyles.csl+json

The application/vnd.citationstyles.csl+json does things slightly different to the others.  If a work includes a bibtex citation, it cleans it up, adds missing dois/urls and returns that.  Otherwise it tries to create a citation using the more limited d

[2018-06-14 08:48] TomDemeranville commented on #51
Also note, please don't rely on the citation being in the work metadata.  It's not always present and not always bibtex.

This library https://github.com/ORCID/orcid-js does the following to create a citation.  You may want to think about doing something similar:

- Obtain a public list of activities from an ORCID record as JSON
- For each work fetch authoritative citation metadata available using

[2018-06-14 19:44] sckott commented on #51
thanks for this info @TomDemeranville

thanks for the warning on bibtex.

and thank for the workflow to create a citation - i'll give it a shot

[2018-06-17 20:34] bomeara opened #56 "More detailed vignette?"
I'm trying to use this package for CV updating (I had been using an earlier version, but it's changed with the API changes, understandably). I'm trying to just get a formatted list of publications, or at least a series of DOIs I can send elsewhere, but I just can't figure it out. It seems I can get some basic info with a works call, but then have to try to dig through to get the put_code for each,

[2018-06-18 17:51] bomeara commented on #56
[note that the error is resolved with the github version of the package. Yay! Still, adding an example would be a nice enhancement]

[2018-06-18 23:49] sckott commented on #56
thanks for the issue @bomeara

I was going to ask what version of the pkg you were using. So with installing from github you no longer get the error, correct?

So the example you want is:

Go from an ORCID identifier to a list/vector of citations for works for that ORCID id

Is that correct?

[2018-06-19 02:19] bomeara commented on #56
Thanks, @sckott. Yes, updating to the latest github version fixed the error issue.  Maybe something like:

[code]

This gets well-formatted info for everything with a DOI, but works that lack a DOI aren't included. It may be more consistent than the Orcid bibtex formatting, though. There are probably better ways to do this than the script above, but a use case like this in the vignette could be ha

[2018-06-23 15:20] gorkang commented on #52
Thanks @sckott for taking another look at this.

The new method does work better, but fails when the issn is not in issn_title.rda (btw, I had to download it manually. Maybe it does not load with the package?)

So, to solve the first point, I created a function to get the title with the best available method:

[code]
In the specific case I am trying, there are 6 out of 20 issn not present in issn_

[2018-08-21 21:39] agbarnett opened #57 "Error extracting identifiers"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>
I'm getting an error for a particular ORCID when trying to get the DOIs.

[code]

This is giving the error: Error in z[tolower(z$`external-id-type`) %in% type, "external-id-value"].

The record has ids that are ISSN, ISBN, DOI, WOS and EID.

[2018-08-21 22:05] sckott commented on #57
thanks @agbarnett

can you update to the lastest version on github? is fixed in the latest version, possibly from  45c0bf692e5b0d3064c6ec21dbd01047f94d39ef

[2018-09-04 19:10] iainmwallace opened #58 "multiple entries for same article in works"
Hi,

Fantastic package!

One oddity that I am encountering is that on my public profile, https://orcid.org/0000-0002-9491-7025, there are 26 articles but if I pull it in to R I find 50 references.

     my_id<-'0000-0002-9491-7025'
     z<-as.orcid(x = my_id)
     a<-works(z)

There are duplicates in this list of 50, and if I do

      a$title.title.value%>%unique()

I get the expected 26 articles

[2018-09-06 21:42] sckott commented on #58
thanks for the issue @t088 - on vacation now, will respond mid next week

[2018-09-15 00:47] sckott commented on #58
I don't know exactly why that is. ORCID returns multiple results for each work, within each work coming from different sources: `Europe PubMed Central and `ResearcherID`

If you do

[code]

you can get the 26 you talked about.

[2018-09-26 23:52] sckott commented on #58
any thoughts @iainmwallace ?

[2018-09-26 23:53] sckott commented on #57
@agbarnett does it work with the lastest?

[2018-09-26 23:53] sckott commented on #56
@bomeara any thoughts?

[2018-09-26 23:55] sckott commented on #54
i think we're sorted here

[2018-09-26 23:55] #54 closed

[2018-09-26 23:57] sckott commented on #43
pinged them again on  2018-09-26

[2018-09-27 09:27] agbarnett commented on #57
Working with version rorcid_0.4.2.9114

[2018-09-27 16:21] #57 closed

[2018-09-27 16:43] sckott commented on #52
sorry for the long delay in responding @gorkang - its not clear from your last reply if you are happy with changes, or there's still some improvements we can make?

[2018-09-27 17:08] gorkang commented on #52
No problem @sckott . Last time I checked, there were two problems:

1) The function failed when the issn was not in issn_title.rda
2) I had to download issn_title.rda manually

Cheers.

[2018-09-27 17:36] sckott commented on #52
I'm not having that problem. just removed rorcid then reinstalled from github, loaded rorcid and issn_title is there in the session. will keep thinking about what the problem could be

[2018-10-01 14:58] maelle opened #60 "Add auth docs to README as well?"
in a setup paragraph or so

[2018-10-01 21:27] sckott commented on #60
good idea, thanks

[2018-10-02 14:50] bomeara commented on #56
Thanks -- the addition to the vignette works perfectly for me.

[2018-10-02 14:50] #56 closed

[2018-10-02 18:30] gorkang commented on #51
Hi @sckott

I am doing:
[code]

The rorcid version is 0.4.2.9115. For some reason I can't see the help (F1): "Error in fetch(key) : lazy-load database '~/R/x86_64-pc-linux-gnu-library/3.4/rorcid/help/rorcid.rdb' is corrupt"

And the end result is not ideal:

Thanks!

[2018-10-02 18:36] sckott commented on #51
@gorkang the manual file should be fixed now.

what result do you want?

[2018-10-02 19:35] gorkang commented on #51
Thanks @sckott !

OK, Now I can see bibtex is still not suported... that would be one of the things I would expect from orcid_citations().

Also, the accents and special characters are still not showing up. For example:

IS --> SHOULD BE
Ram\u00f3n --> Ramón
epist\u00e9micas --> epistémicas
ni\u00f1os --> niños
sem\u00e1ntico --> semántico
...

[2018-10-02 20:20] sckott commented on #51
Well, Crossref can give back bibtex, but ORCID can not. So this fxn could give back bibtex (or other formats) from Crossref, but wouldn't be able to give bibtex for ORCID. So then results would be of mixed type, which isn't great. But I suppose results can be marked by their type to easily filter.

[2018-10-03 15:52] gorkang commented on #52
Regarding the first issue:

If an ISSN exists, it works great. If it does not exist, gives an error:

[code]

With a function such as the following, we can avoid the error:

[code]

Regarding the second issue. After uninstalling using the gui it wasn't working, but using the remove.packages() function worked:

[code]

Thanks!

[2018-10-04 18:37] sckott commented on #52
thanks - i'll take another look at the issn issue.

we'll continue to look for performance improvements 👍

[2018-10-04 21:54] sckott commented on #52
note: still no ISSNs in the Crossref API /journals route, so can't work on update flow for the issn titles dataset

[2018-10-04 22:59] sckott commented on #51
@gorkang reinstall `remotes::install_github("ropensci/rorcid@citations")` -

changed the fxn to do bibtex for crossref when DOIs avialable, and csl-json still for when only a PUT record found.

can now pass. in format, style, and locale to rcrossref

[2018-10-05 12:02] gorkang commented on #51
Thanks @sckott Just reinstalled and indeed the citation is in Bibtex!

The weird characters issue remains though.

USing the follwoing code I get:

[code]

Where accented letters etc. show up between {}. For example:

{\\'{o}} -> ó
{\\'{a}} -> á

Not sure if it is my mistake (tried different cr_locales without luck).

[2018-10-08 15:10] iainmwallace commented on #58
According to orcid, there can be situations were there are duplicate records from different source systems and occasionally there can be a discrepancy in formatting of the title which will mean the unique statement won't work. Ideally the data needs to be fixed at the originating source which hopefully will flow through the research eco-system.

From a practical perspective, I am doing the uniquen

[2018-10-08 22:04] sckott commented on #58
thanks

[2018-10-10 22:07] sckott commented on #51
sorry about that @gorkang I stilll don't know what's going wrong with the encoding. it's on their end, not coming from R itself.

[2018-10-11 01:36] gorkang commented on #51
No worries. I ended up not using the citation because of the issues rcpeters mentioned, plus the encoding madness.

Feel free to close the issue if it bothers you. Otherwise, I am happy to test potential solutions and give feedback.

[2018-10-11 17:05] sckott commented on #51
I'm thinking of hooking into pandoc - so will try to test that today. Do you already have pandoc installed?

[2018-10-11 18:58] sckott commented on #51
hmm, pandoc may not work. how do you feel about a V8 dependency? does this install on your system https://cran.rstudio.com/web/packages/V8/

[2018-10-12 00:48] gorkang commented on #51
V8 installs without problems. My only doubt comes from the package not being actively developed in the last year or so... https://github.com/jeroen/V8/graphs/contributors

[2018-10-22 19:38] sckott opened #61 "use newish `fauxpas::find_error_class` method instead of internal hack"

[2018-10-22 19:41] #61 closed

[2018-10-22 19:48] #60 closed

[2018-10-22 19:56] sckott commented on #51
Jeroen works with me so I think if there's any problems with the pkg they can be dealt with quickly.

[2018-10-23 19:09] sckott commented on #51
the javascript thing didn't pan out, so we're out of options as far as I can tell.

- we can't wrap the JS library
- Pandoc doesn't really have what we need
- theres https://github.com/datacite/bolognese a Ruby gem which has a CLI interface, which we could shell out to, but that seems like a bad idea.
- roll our own solution - i think this is the only option, but will take some time

[2018-10-31 17:10] gorkang commented on #51
Should I close the issue, or do you prefer to leave it open?

[2018-10-31 18:35] sckott commented on #51
I'm working on something new that should in theory fix this: https://github.com/ropensci/handlr/ - will ping you here when i've got something ready to try

[2018-11-01 22:31] sckott commented on #51
@gorkang can you try the example below again after reinstalling `remotes::install_github("ropensci/rorcid@citations")`

[code]

[2018-11-02 10:19] gorkang commented on #51
Thanks @sckott !

I am finding two issues. First, fetching all the citations in a profile is very slow. For example, with 55 pubs takes ~85 seconds.

[code]

---

Second, I encountered the following error :

[code]

[2018-11-06 01:08] sckott commented on #51
running that top example, i'm not getting consistently different times between running through the new `handlr` package and not. I've add a special `cr_format` value `citeproc2bibtex` that if given, then asks for `citeproc-json` from Crossref, then uses `handlr` to convert to bibtex, Otherwise, we ask for whatever is given in `cr_format` from Crossref.

-----

note that the bibtex citations coming

[2018-11-06 01:09] sckott commented on #51
the error with medra should go away now cause I had hard-coded the citeproc-json internally, but now that's removed

[2018-11-06 12:43] gorkang commented on #51
It seems there is another error. Running the following:

[code]

After a long wait (574s) I get:
[code]

574.055 sec elapsed

[2018-11-06 21:24] sckott commented on #51
thanks, i'll have a look

[2018-11-20 00:16] sckott commented on #51
i think most of the added time is that we are calling `rcrossref::cr_cn` one at a time. `rcrossref::cr_cn` can do more than one DOI at a time, but going to have to have some very careful processing to make sure all data and metadata stay together in the case of errors

[2019-04-03 17:28] awconway opened #62 "orcid_fundings not return amount"
The result of orcid_fundings doesn't seem to return a field with the total amount even though in the public ui it is shown. Is there a way we can get this? Thanks

[2019-04-03 18:04] sckott commented on #62
thanks for your question @awconway

please give an example, both of the URL for the ORCID page you're talking about and the `orcid_fundings` request that does what you say. and include your R session info

[2019-04-03 18:21] awconway commented on #62
Thanks - url for record is https://orcid.org/0000-0002-9583-8636

Output of rorcid::orcid_fundings("0000-0002-9583-8636").

$`0000-0002-9583-8636`
$`0000-0002-9583-8636`$`last-modified-date`
$`0000-0002-9583-8636`$`last-modified-date`$value
[1] 1.554232e+12

$`0000-0002-9583-8636`$group

[2019-04-05 16:27] awconway opened #63 "upgraded affiliation types"
Are there plans to make the upgraded affiliation types (from October 2018) available to access through rorcid?
- Invited positions and distinctions
- Membership and service
Information about the release is here: https://orcid.org/blog/2018/10/09/new-feature-alert-upgraded-affiliation-types
Thanks

[2019-04-05 16:50] sckott commented on #63
I hadn't heard about it yet. It looks like that's a new version of their API in development, so not something we should be using at this point. Can you sort out where in the API that information is? Maybe ask them

[2019-04-05 17:00] sckott commented on #62
the amounts need to be requested for each put-code separately it turns out. e.g, .

[code]

[2019-04-05 17:15] awconway commented on #62
Fantastic - thanks very much for your help.

[2019-04-05 17:15] #62 closed

[2019-04-10 13:32] awconway commented on #63
Apparently this information will be available in the stable 3.0 version in a month or so. Their response is below.

[2019-04-10 17:53] sckott commented on #63
thanks!

[2019-04-28 21:09] JDLeongomez opened #64 "Error: Unauthorized (HTTP 401)"
I found my Orcid Token interactively using `orcid_auth()`, and then saved it in my `.Renviron` file. Now, if I enter `orcid_auth()` I see my token. However, with any function I try to use, including `rorcid::orcid_educations()`, `orcid(query = "ANY NAME")` , or `rorcid::orcid_employments()`, I always get the same error:

    `Error: Unauthorized (HTTP 401)`

<details><summary><strong>Session Info<

[2019-04-29 22:39] sckott commented on #64
thanks for the issue. I think I need to improve the docs on this a bit, so that's my fault.

Under what name did you save your token in the `.Renviron` file? It should be a line that looks like

[code]

[2019-04-30 03:31] JDLeongomez commented on #64
Thanks for your answer. I have it stored exactly like in your example (I changed the actual code for xxxx).

    ORCID_TOKEN=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx

I even tried putting the code within quotation marks (both single and double), but I still get the same `Error: Unauthorized (HTTP 401)` every time.

Not sure if it helps, but when I use `orcid_auth()` I get the this, even if I use `reaut

[2019-04-30 22:31] sckott commented on #64
nah, the example above I just typed out quickly to have an example. not important

That "Bearer XXX" is what you should get from `orcid_auth()` - as the header ORCID expects is `Authorization: Bearer XXX`. We call `orcid_auth()` internally as well, so we use that exact string for the authorization header

Can you do curl requests on the command line on your machine? If so, try (using your actual t

[2019-05-01 22:44] JDLeongomez commented on #64
Dear Scott, I am quite a newbie on this, so I'm not completely sure I followed your instructions correctly. When I did the curl request on the command line, I get this (I distorted my TOKEN):

![Annotation 2019-05-01 173435](https://user-images.githubusercontent.com/45215832/57048142-79dce980-6c38-11e9-9b89-5a063b997e8a.png)

Hope this is useful! I really appreciate all your help.

[2019-05-01 22:57] sckott commented on #64
thanks, looks like you didn't include the URL. try instead to include all that stuff in one string like

[code]

[2019-05-01 23:20] JDLeongomez commented on #64
Oh, sorry about that. Yes, after including the URL, and everything in one string, I get no errors. I get all the info from whatever ORCID user ID I enter. Nothing when I work from R, though....

[2019-05-02 15:35] sckott commented on #64
glad it worked on the command line at least. Now we know your token is good. But something in rorcid is going haywire. lets try this, set the token in the R session like:

[code]

if that works, then maybe your R isn't picking up your .Renviron file

[2019-05-03 03:51] JDLeongomez commented on #64
No Scott... no luck. I still get the same `Error: Unauthorized (HTTP 401)` with every function I try.

The only difference, was that when using

    as.orcid("0000-0002-1642-628X", verbose = TRUE)

I got a lot of info, including this:

    WWW-Authenticate: Bearer realm="ORCID T1 API", error="invalid_token", error_description="Invalid access token: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"`

(But obvi

[2019-05-03 21:04] jeroen commented on #64
The reason your command did not work is that on Windows you have to use double quotes to create strings when running shell commands.

[2019-05-08 00:35] sckott opened #65 "recursive in orcid() fxn doesn't do anything"

[2019-05-08 00:43] sckott opened #66 "see if we can vectorize works() fxn"

[2019-05-14 19:06] sckott opened #67 "httpuv may be required for correct orcid_auth behavior"
via https://github.com/ciakovx/rorcid.workshop/issues/1

[2019-05-14 19:06] sckott commented on #67
check on this, and either put httpuv in suggests and requireNamespace or put in imports

[2019-05-31 13:32] iainmwallace opened #68 "API version 3 plans?"
Hi,

I was wondering if there were any plans to support v3 of the API that was recently announced https://orcid.org/blog/2019/05/16/orcid-api-30-here?

One feature that is particularly exciting is the standardization of identifiers.

Thanks

Iain

[2019-05-31 16:21] sckott commented on #64
@JDLeongomez ^^

[2019-05-31 16:21] sckott commented on #63
will be moving to API v3 soon

[2019-05-31 16:33] sckott commented on #51
`orcid_citations` has been merged into master

[2019-05-31 17:42] sckott commented on #68
thanks for the ping @iainmwallace  I didn't know about the new API, will subscribe to the blog so I don't miss these in the future

work on branch https://github.com/ropensci/rorcid/tree/api-v3

[2019-05-31 18:40] sckott commented on #68
@iainmwallace can install `remotes::install_github("ropensci/rorcid@api-v3")`, reload R, and try it out

[2019-06-03 13:32] iainmwallace commented on #68
Looks great!

[2019-06-03 17:23] sckott commented on #68
@iainmwallace great, glad it works. will merge soon to master

[2019-06-05 22:33] #68 closed

[2019-06-05 23:22] sckott commented on #52
closing for now - added the script for updating the issn_title dataset in inst/ignore/issn_title_collect.R

[2019-06-05 23:22] #52 closed

[2019-06-05 23:29] #67 closed

[2019-06-05 23:31] sckott commented on #63
done in #70

[2019-06-05 23:31] #63 closed

[2019-06-06 02:42] sckott commented on #51
notes:

- two citations had problems in the example https://github.com/ropensci/rorcid/issues/51#issuecomment-436239591 above:
    - 10.3389/fnagi.2014.00194 has apparently changed to 10.3389/fnagi.2014.00212 - see https://www.frontiersin.org/articles/10.3389/fnagi.2014.00212/full - but when searched in crossref the old DOI doesn't resolve
    - the other, S0716-97602008000300004, is not a properl

[2019-06-06 04:47] sckott commented on #51
@gorkang  your eg works for me but does throw those warnings, which come from rcrossref, which on a unsuccessful HTTP request returns NULL and throws a warning - but the function overall still should succeed.

[2019-06-06 18:09] sckott commented on #51
closing for now - we can reopen if further changes needed

[2019-06-06 18:09] #51 closed

[2019-07-11 09:42] markrobinsonuzh opened #72 "'rows' argument in `rorcid::orcid_search`"
I'm getting the following error when I use the `orcid_search` function with a 'rows' argument ..

[code]

Am I doing something wrong here?

Thanks in advance, Mark

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-07-11 10:13] sckott commented on #72
thanks @markrobinsonuzh for the report, looking at it now

[2019-07-11 10:21] #72 closed

[2019-07-11 10:21] sckott commented on #72
should be fixed now, reinstall, thx again

[2019-07-11 10:24] sckott opened #73 "vcr-ify tests"

[2019-07-11 10:49] markrobinsonuzh commented on #72
works great, many thanks for the lightning response!

[2019-07-12 12:32] #73 closed

[2019-07-17 21:16] sckott commented on #72
np

[2019-07-30 02:42] ciakovx opened #75 "Institution searches in `rorcid::orcid_search`"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

I'm getting an error `Unknown or uninitialised column: 'orcid-identifier.path'.` on all three `orcid_search` institution parameters:

[code]

[2019-07-30 04:51] #75 closed

[2019-07-30 04:53] sckott commented on #75
was just a warning, these queries all result in 0 results. fixed now to give back an empty data.frame

[2019-07-30 14:23] ciakovx commented on #75
Thanks for getting back so quickly. The interesting thing is, when I run these queries, I get data back, do you know why that is?

[code]

[2019-07-30 15:20] sckott commented on #75
`orcid_search()` wraps `orcid()` - but it doesn't allow all possible fields to search on - I just added `affiliation_org` which maps to `affiliation-org-name` - so those examples should work now but using `affiliation_org` instead

you can see what the user facing params map to with `rorcid:::field_match_list`

[2019-07-30 15:25] ciakovx commented on #75
Ah I see. Thanks Scott, that's great. Excellent work on `orcid_search`; it's far easier. I'm updating my walkthrough now. Much appreciated!

[2019-07-30 17:06] ciakovx commented on #75
Sorry to bother you again, but it looks like `affiliation_org` is operating as an OR, not an AND. Each of the below examples should return a single result, but they are returning 10, 3, and 5 respectively.

[code]

[2019-07-30 17:38] sckott commented on #75
hmm, it shouldl be AND. i'm getting 1 row for each of those. did you reinstall from master?  if you did, then run it with `verbose = TRUE` at the end to see what URL is being sent, mine looks like `https://pub.orcid.org/v3.0/search?q=family-name%3Aboettiger%20AND%20affiliation-org-name%3ACalifornia&rows=10` (which uses `AND`)

[2019-07-30 17:55] ciakovx commented on #75
Thanks, it works, I needed to restart my session. I really appreciate your responsiveness, thank you.

[2019-07-30 18:12] ciakovx commented on #75
It looks like `current_inst`, `current_prim_inst`, and `past_inst` are not supported--and there is not a way to designate these on one's ORCID profile. See https://github.com/ORCID/ORCID-Source/blob/master/orcid-api-web/tutorial/search.md:

[2019-07-30 18:47] sckott commented on #75
hmmm, that's too bad. I guess we should remove them maybe

[2019-07-30 18:56] ciakovx commented on #75
It is too bad because `affiliation-org-name` searches across all of an individuals listed affiliations (employment, education, invited positions, membership & service) past and present. So it has the potential to return false positives--in other words, one should not use it to get ORCID iDs of all individuals currently at an institution, because it will include those who previously worked there or

[2019-07-30 19:56] sckott opened #76 "Add to orcid_search(): ringgold-org-id and grid-org-id"
via #75

[2019-07-30 19:56] sckott commented on #75
opened an issue for that

[2019-07-30 21:40] ciakovx commented on #75
Thank you. Also I'm getting an error for the `keywords` argument: `Error: Internal Server Error (HTTP 500).
 - org.apache.solr.client.solrj.impl.HttpSolrServer.RemoteSolrException Full validation error: undefined field keywords`

[code]

[2019-07-31 15:59] sckott opened #77 "keyword param problem"
via #75

[code]

`keywords` is not valid, but `keyword` is

[2019-07-31 15:59] sckott commented on #75
opened an issue for that

[2019-07-31 16:16] #77 closed

[2019-08-01 20:21] sckott opened #78 "sort out testing for others"
via #74 - @RLumSK can you share the errors you are getting when you run `devtools::test()` and your R session info too so I can see if certain package versions are to blame

[2019-08-01 20:32] RLumSK commented on #78
R Under development (unstable) (2019-07-31 r76909)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Mojave 10.14.6

LAPACK: /Library/Frameworks/R.framework/Versions/3.7/Resources/lib/libRlapack.dylib

[1] en_GB.UTF-8/en_GB.UTF-8/en_GB.UTF-8/C/en_GB.UTF-8/en_GB.UTF-8

[1] stats     graphics  grDevices utils     datasets  methods   base

[1] compiler_3.7.0 tools_3.7.0    packrat_0.5

[2019-08-01 20:33] RLumSK commented on #78
[code]

[2019-08-01 20:35] RLumSK commented on #78
I shortend the output, it is very verbose I also tried with R-release (patched). Same issue.
Obviously it is realed to the HTTP 401 error, but I cannot make sense out of it.

[2019-08-01 20:42] RLumSK commented on #78
Ok, pasting the output here did ring the bell:

I was expecting (without telling) that `devtools::test()` in combination with 'vcr' miraculously takes care of the `ORCID_TOKEN`. Now it works as expected. What did I do?

1.
[code]

2. Delete all files in tests/fixtures

3. Run `devtools::test()`

Sorry for the trouble, I am not familiar with the behaviour of 'vcr', and obviously I need to learn it.

[2019-08-01 20:55] sckott commented on #78
thanks for all this.

Did you have your `ORCID_TOKEN` environment variable set before?  did you set it temporarily in each R session?

[2019-08-02 06:26] RLumSK commented on #78
Yes, I set it only temporarily as written above (I always have). But since such `ORCID_TOKEN` is not available by default on the CI resources, so I wrongly assumed that the tests would take care of it.

[2019-08-02 23:30] sckott commented on #78
Thanks, now it makes sense.

It looks like you were running `devtools::test` in an interactive R session. Otherwise, no browser tabs would be opened (im pretty sure). If you had run it from the command line outside of R, you'd have gotten notes about setting the env var:

[code]

which is a more helpful note, but requires a non-interactive R session.

I think it makes sense to not allow tests to b

[2019-08-03 17:54] RLumSK commented on #78
Thanks for the feedback. You have correctly assumed that I tried to run the test in an interactive session. I should have mentioned that.

And it makes sense indeed to deny the tests until an ORCID token has been set.

[2019-08-06 00:18] sckott commented on #78
great, thanks for the feedback, i'll merge the change into master.

[2019-08-06 17:22] #76 closed

[2020-01-27 23:10] sckott commented on #64
closing, no response

[2020-01-27 23:10] #64 closed

[2020-01-27 23:11] #58 closed

[2020-01-29 03:16] wsphd opened #82 "orcid_search parameters (current_prim_inst doesn't work)"
for orcid_search, affiliation_org works and current_inst works, but for the life of me I can't get current_prim_inst to work.  Any ideas?

[2020-01-29 18:28] sckott commented on #82
thanks @wsphd

looks like the ORCID server is throwing a 500 error that the field doesn't exist. looks like they removed it https://trello.com/c/UUCBZJTU/576-update-search-documentation-after-solr-upgrade recently

reinstall to get changes `remotes::install_github("ropensci/rorcid")`

Can you use `current_inst` for your purposes?

In the change I just made here `current_prim_inst` and `patent_numb

[2020-01-29 21:56] wsphd commented on #82
Scott,

Thanks for the confirmation.  I thought I was going crazy.  Yes,
current_inst is OK.  Here's the issue--no two people fill out the ORCID
form the same way.  So trying to get a "complete" list of individuals by
institution is non-trivial.

Thanks for all of your hard work.

Wayne

On 1/29/2020 10:28 AM, Scott Chamberlain wrote:

[2020-01-30 16:45] sckott commented on #82
I can see how that task would be difficult!

[2020-01-30 16:45] #82 closed

[2020-01-30 18:26] iainmwallace commented on #65
Also finding this

orcid(query="Bristol Myers Squibb",recursive = TRUE) will return 100 rows
while
orcid(query="Bristol Myers Squibb",rows=200) will return 200 rows

[2020-01-30 19:22] iainmwallace opened #83 "Issue retrieving all orcid ids associated with organization"
Hi,

I am trying to return all of the orcid ids associated with my organization and am running into a small issue - some of the results (near the end of the list) reflect profiles that match part of my organization's name anywhere rather than an exact search in the employment section.

Is there a way to limit to just an exact search in the institution field?

Thanks

Iain

    bms_ids<-list()

[2020-01-31 18:11] #65 closed

[2020-01-31 18:11] sckott commented on #65
@iainmwallace thanks for the ping. sorry about that, that param wasn't used at all internally in the fxn, removed it.

[2020-01-31 18:26] sckott commented on #83
thanks for this. there's 2 separate issues. lets start with the error first. what version of `rorcid` and R do you have? I cannot replicate the error, so perhaps we have different versions

[2020-02-01 15:56] iainmwallace commented on #83
Thanks - the error doesn't seem to be happening any more
I am using version 0.6.0.93

I also tried searching just using "Squibb" and I get much more reasonable results (187 returned results, and result 186 is matching the employment)

other attached packages:
  [1] rorcid_0.6.0.93

bms<-list()
bms[[1]]<-orcid_search(current_inst="Bristol Myers Squibb",rows=200)
bms[[2]]<-orcid_search(current_inst=

[2020-02-05 18:27] sckott commented on #83
glad the error isn't happening anymore.

So are you happy with the search results? or still have questions about it?

[2020-02-05 22:09] sckott opened #84 "fix for cran checks"
Documented arguments not in \usage in documentation object 'works':
  '...'

[2020-02-05 22:18] #84 closed

[2020-02-19 15:57] iainmwallace commented on #83
Thanks for checking in - I have made some progress, and am of course delighted with the rorcid package, but still unclear if it is technically possible to get a complete list of all orcid profiles at an organization.

ORCID support recommended that I use escaped quotes around the institution name, as in  Example 14 on the search documentation https://github.com/ORCID/ORCID-Source/blob/master/orcid

[2020-02-19 16:50] sckott commented on #83
It would make sense to be able to get all orcid's within an organization, wish they made that easier.

Yeah, hard to know what exactly they do on their website, even if they do use their own API that we use here, they may modify its behavior in their website app code

[2020-04-09 16:43] sckott opened #85 "`/expanded-search` route - use instead of of `/search` in orcid()?"
https://github.com/ORCID/ORCID-Source/blob/master/orcid-api-web/tutorial/search.md#expanded-search

[2020-05-25 20:42] jcolomb opened #86 "rows in orcid search: change default? + max"
hello,

I just took 35 min to understand why my search was not returning all elements, until I finally saw that orcid_search() was based on orcid(), that give only 10 rows output...

It would be good if the default could be 50, and if it would give a message when the result is truncated ("only first x results shown").

By the way, why is the max 200? is it due to the api?

background:
I using orci

[2020-05-26 18:29] #86 closed

[2020-05-26 18:29] sckott commented on #86
thanks for the issue. I think 10 is a good default. For first time users, we don't want a big default value as we want data returned quickly so users don't get frustrated immediately.  I think pagination through `rows` and `start` parameters is well documented, eg.,  https://docs.ropensci.org/rorcid/reference/orcid_search.html

I've updated the `orcid_search` function to include the number of resu

[2020-08-14 20:33] ciakovx opened #87 "Get access token via 2 legged OAuth authorization"
Hi Scott, I recently created a Jupyter Notebook in a Binder environment to teach rorcid. See https://ciakovx.github.io/rorcid for the walkthrough, and https://mybinder.org/v2/gh/ciakovx/ciakovx.github.io/ab4cd2280f36aad96fbcd6fd72c932c0323f1be8 for the direct link to the Binder.

`orcid_auth()` wouldn't work in this scenario, as I didn't want the students to have to download R and you can't open a

[2020-08-17 18:29] sckott commented on #87
Thanks for this - i'll take a look

[2020-09-03 00:46] sckott commented on #87
I agree it's not always possible to open a browser. I think what I've written in the docs, or just thought in my head maybe, was that users can get the token via 3 legged auth and then store the key as an env var locally, but this is a good idea to allow a workflow that doesn't require an interactive step so that it works on servers and other environments that don't allow opening a auth window.

u

[2020-09-03 00:46] sckott commented on #87
- [ ] make sure to update readme and any other places where auth info is to be consistent throughout pkg

[2020-09-05 12:05] yangtzesyy opened #88 "Does rorcid_works get the information of co-authors?"
Does rorcid_works() get all information of the authors (including co-authors) or will just get the name of orcid-id? (in source.source-name.value)

[2020-09-09 16:45] sckott commented on #88
Your question is hard to follow. What does all information of the authors mean?

[2020-09-29 00:34] dylanrussellmd opened #89 "Column number mismatch when calling `orcid_employment`"
When attempting to export my **employment** history and row bind all entries together for easy display via the _vitae_ package, I have found that `employment-summary.end-date.year.value`, `employment-summary.end-date.month.value`, and `employment-summary.end-date.day.value` are not actually returned if the relevant fields on ORCID are not filled in (which they shouldn't be, because I am currently

[2020-09-29 23:54] sckott commented on #89
thanks for the question.

there are a few options that should work, e.g.,

[code]

[2020-09-29 23:57] dylanrussellmd commented on #89
This is what I ended up doing:

`orcid_employ_data <- do.call(dplyr::bind_rows, rorcid::orcid_employments(params$orcid)[[1]]$`affiliation-group`$summaries) %>% make_present`

[code]
Only making you aware in case this was something that should be corrected on the `rorcid` side. It would make sense that `rorcid::orcid_employment` guarantees a data frame with the same number of named columns regardle

[2020-09-30 00:36] sckott commented on #89
I've decided not to try to parse the data returned from ORCID into tidy results since the data is deeply nested and complicated, and if ORCID changes the structure of the data then code breaks. So I leave it up to the user to work the data into the format they want

[2020-09-30 00:37] dylanrussellmd commented on #89
Makes sense, thanks!

[2020-09-30 00:37] #89 closed

[2021-01-20 17:44] #88 closed

[2021-01-20 17:45] sckott commented on #83
closing. don't think there's anything i can do here

[2021-01-20 17:45] #83 closed

[2021-01-20 17:49] sckott commented on #48
closing. I don't think there's anything we can do in this pkg. did you end up finding a solution @agbarnett ?

[2021-01-20 17:49] #48 closed

[2021-01-20 18:33] #87 closed

[2021-01-22 20:46] agbarnett commented on #48
I didn't find a solution. In the end I only included papers with a DOI available.

[2021-01-22 20:54] sckott commented on #48
bummer

[2021-02-08 13:32] yu-soong opened #90 "orcid_works() doesn't have the "author" information?"
The `orcid_works("XXXX-XXXX-XXXX-XXXX") ` gives the information of "title", "doi", "journal"... but not "author" information of papers. I checked the web of ORCID, it would be the "Contributor" under "Works" entry. Did I miss something, otherwise is it possible to have the author information in the next version of `rorcid`? Tnanks!
--Yu

[2021-02-09 17:59] sckott commented on #90
We don't remove any data from the results from ORCID in `orcid_works` function, so ORCID must not give the author information.

Try https://docs.ropensci.org/rorcid/reference/orcid_citations.html -

[2021-02-09 21:18] yu-soong commented on #90
Thanks sckott, I am using other packages like `scholar` and `bib2df` to get the author information.

[2021-02-18 10:38] drachodran opened #91 "Unauthorized 401 When Callin ORCID API"
Hello, I am running an R script which uses rorcid and it is supposed to check some data with the orcid API.

I am running it on a linux server and I am getting this message
Error: Unauthorized (HTTP 401)

I read the unfinished #64 thread and it seems the same problem. I checked the command
curl -v -H "Authorization Bearer (...)" https://pub.orcid.org/v2.1/0000-0002-164
and it seems to work. So the

[2021-02-18 21:24] sckott commented on #91
Thanks for reporting the issue.

In server scenarios, use a PAT. See https://docs.ropensci.org/rorcid/articles/authentication.html#computing-environments-without-browsers-1 and the 3rd option in Details section here https://docs.ropensci.org/rorcid/reference/orcid_auth.html#details

[2021-02-19 10:46] drachodran commented on #91
Hi sckott, thanks for helping. I am not sure of what do you mean by a PAT, "Port-Address-Translator"? A network technique? How should we do that?

I managed to generate a token using the 2legged authentication function and using my client_id and my client_secret, I think the token is Ok. The ORCID_TOKEN environment variable is properly set with the token. I wondered if the problem was because of t

[2021-02-19 16:30] sckott commented on #91
PAT = Personal Access Token
Same as "token" in this context.

use one of the rorcid functions to get some data, and set `verbose=TRUE`, e.g.,

[code]

Does that fail? If so, there may be useful information to debug in the console output. Share it here, but make sure to obscure/remove your token

[2021-02-19 16:43] drachodran commented on #91
Thanks for the prompt reply. Apparently the connection is working but there is a invalid_access_token error. I removed the number for the trace.

We are working in a project for the ministry of Science of Spain. Thanks for any further help.

* Uses proxy env variable https_proxy == 'http://emcgateway:Informes2013@proxy.redinterna.age:8080'
*   Trying 10.20.5.72...
* TCP_NODELAY set
* Connected to

[2021-02-19 16:44] drachodran commented on #91
* Uses proxy env variable https_proxy == 'http://emcgateway:Informes2013@proxy.redinterna.age:8080'
*   Trying 10.20.5.72...
* TCP_NODELAY set
* Connected to proxy.redinterna.age (10.20.5.72) port 8080 (#0)
* allocate connect buffer!
* Establish HTTP proxy tunnel to pub.orcid.org:443

Host: pub.orcid.org:443
User-Agent: R (3.6.3 x86_64-redhat-linux-gnu x86_64 linux-gnu)
Proxy-Connection: Keep-Aliv

[2021-02-19 17:03] sckott commented on #91
So your token was in the `Authorization: Bearer` string, correct? And you just removed it here?

[2021-02-19 17:06] drachodran commented on #91
Exactly, I removed it as you requested. This a project for the Spanish Ministry of Science and we are rather stuck here.

Thanks.

[2021-02-19 17:26] sckott commented on #91
Let's try curl again to make sure that your token is working:

[code]

Does that work? Do you get:

[code]

[2021-02-22 08:22] drachodran commented on #91
Good morning Sckott... once again the same problem. There must be definitely something wrong with the token, although it works in Windows with the three legged...

Thx for the support

[root@CENT81-DES-CIENCIA investigadores-ficheros_r]# curl -v -H 'Authorization: Bearer ... ' -H 'Accept: application/json'  https://pub.orcid.org/v3.0/0000-0002-1642-628X/biography/
*   Trying 10.20.5.72...
* TCP_NO

[2021-02-22 08:44] drachodran commented on #91
By the way, I just tried the URL with the token on my Windows workstation with postman and I got the same result: invalid token.

Should I try with another ORCID account?

[2021-02-22 08:52] drachodran commented on #91
This is how I generated the token:

two_legged_oauth <- function(client_id, client_secret) {
  headers <- list(Accept = "application/json",
                  `Content-Type` = "application/x-www-form-urlencoded")
  body <- list(grant_type = "authorization_code",
               client_id = client_id, client_secret = client_secret)
  con <- crul::HttpClient$new("https://orcid.org/oauth/authorize", he

[2021-02-22 21:45] sckott commented on #91
1. it's possible there's an issue with the proxy. I don't know anything about proxies as I never use them, so not sure what to do if that's the problem.
2. If it is an invalid token: did you request the token on that server?  Can you get a token on your local machine, then simply set it as the token on your server? Does [this curl request](https://github.com/ropensci/rorcid/issues/91#issuecomment-

[2021-02-23 10:44] drachodran commented on #91
1. We can rule out the proxy problem, I checked with postman from my personal machine (directly connected to the Internet) against the API url you proposed and it works without token (it's public) but when the token is added it says it is invalid.
2. I tried on our server with another token generated with the ORCID credentials of a colleague of mine and the result is the same.
Could it be that the

[2021-02-23 10:53] drachodran commented on #91
By the way, my colleague generated his token on his local machine.

[2021-02-23 21:07] sckott commented on #91
I just spun up a server and used my orcid token and it works. So can't re-create what's going on so far.
I'm not sure what else to do. I'm asking ORCID folks

[2021-02-23 21:28] TomDemeranville commented on #91
Hmm.  Does your token in a format like 1bed1e13-7792-4129-9f07-aaf7b88ba88x?

If not, I think your two legged request is not quite right.
- you need to use grant_type=client_credentials
- It looks like you're pulling something out of the response headers, but I think the token is in the response body as JSON.

Example here: https://info.orcid.org/documentation/integration-and-api-faq/#easy-faq-253

[2021-02-24 10:09] drachodran commented on #91
I was definitely trying to use a function which does not generate a valid Orcid token. Could you write here the proper command line curl call with a field for client_id and client_secret, which I can substitute, so that I can get the token? I understand the production is https://orcid.org/oauth/token

So far I've been trying and getting {"error":"invalid_client","error_description":"Client not fou

[2021-02-24 10:43] TomDemeranville commented on #91
Try something like curl -i -d 'client_id=XXX' -d 'client_secret=XXX' -d 'scope=/read-public' -d 'grant_type=client_credentials' 'https://orcid.org/oauth/token'

[2021-02-24 10:44] TomDemeranville commented on #91
There is a tutorial here: https://github.com/ORCID/ORCID-Source/blob/master/orcid-api-web/tutorial/read_public.md

[2021-02-24 10:47] drachodran commented on #91
Yes, but I also got the invalid token message. However, I just copied my ID directly from the Orcid website after login. I am also copying the password.

[2021-02-24 12:42] drachodran commented on #91
I wish to apologize to everyone for being so rookie and for not reading the tutorials properly. I was wrongly assuming that the client_id is the same as the ORCID ID and they are not. You use your orcid account to register an application in the developers tools menu option and then it generates the client_id and the client_secret which you use to generate a token.

Thanks for your efforts, sorry a

[2021-02-24 16:48] sckott commented on #91
Thanks @TomDemeranville !

@drachodran no worries at all. I'm happy to help. The function https://docs.ropensci.org/rorcid/reference/orcid_auth in this package returns the token you'll need. It returns a string of the form `Bearer xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx`. From that, copy just the token part (ignore  "Bearer ") to save as your `ORCID_TOKEN` environment variable.

[2021-02-24 16:48] #91 closed

[2021-06-21 22:22] #90 closed

[2022-09-09 10:11] #43 closed

[2022-09-09 10:11] #45 closed

[2022-09-09 10:11] #66 closed

[2022-09-09 10:11] #78 closed

[2022-09-09 10:11] #85 closed